/* base */
*{  box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    position: relative;
    width: 100vw;
    font-size: 1.6rem;
    color: #fff;
    
}
.wrap {
    max-width: 1280px;
    padding: 0px 40px;
    margin: 0 auto;
    
}
.curso--pointer {
    cursor: pointer;
}
.button:hover {
    background: #FDDCC4;  
}

.logo {
    text-decoration: none;
}
/*///////////////////////////*/

/* header */
header {
    position: relative;
    width: 100%;
    height: 120px;
    padding-top: 30px;
}
.block__navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    align-items: center;
}
.logo__postscript {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    color: #292929;
    align-items: center;
    letter-spacing: 0.1em;
    margin-top: -10px;
}

.nav__list {
    display: flex;
    gap: 35px;
    margin-top: -15px;
}
.nav__item {
    list-style-type: none;
    
}
.nav__item:nth-child(2) span{
    display: block;
    border-bottom: 3px solid #F1CDB3;
    width: 58px;
    height: 24px;
    
    
}
.nav__item a {
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}
.logo a {
    text-decoration: none;
}
/*///////////////////////////*/

/* pets */
.pets {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
  
}
.pets__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.title__pets {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px;
}

.pagination__cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 270px); 
    grid-template-rows: repeat(2, 435px);/*minmax()*/
    column-gap: 40px;
    row-gap: 30px;
    padding-left: 105px;
    padding-right: 105px;
    margin-bottom: 60px;
}

.pets_cards {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-bottom: 30px;
    gap: 30px;
}

.name__puppe {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

}

.btn__cards {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.pagination__btn{
    display: flex;
    gap: 20px;
}
.btn__sup {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.sup_left{
    border: 2px solid #CDCDCD;
}

.sup_right{
    border: 2px solid #F1CDB3;
}

.sup_centr {
    background: #F1CDB3;
    border: none;
}
/*///////////////////////////*/

/* footer */
footer {
    width: 100%;
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}

.footer__content {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: space-between;
  
    
}
.contacts {
    width: 302px;
    height: 234px;
}

.location {
    width: 302px;
    height: 234px;
    margin-left: -20px;
}
.contacts,
.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-top: 55px;
    
}

.tittle__contacts, 
.tittle__location {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.email,
.phone,
.first__office,
.second__ofiice {
    display: flex;
    align-items: center;
    gap: 20px;
}

.general__style__footer_span {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.puppy__footer {
    margin-top: 25px;
}
.footer__content a {
    text-decoration: none;
}

/*///////////////////////////*/