/* base */
*{  box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
/**,
*::before,
*::after {
  border: 1px solid red;
}*/
html {

    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    position: relative;
    width: 100%;
    font-size: 1.6rem;
    color: #fff;
    overflow-x: hidden
    
}
main {
    width: 100%;
}
.wrap {
    position: relative;
    max-width: 1280px;
    height: 100%;
    padding: 0px 40px;
    margin: 0 auto;
    
}

.curso--pointer {
    cursor: pointer;
}
.button:hover {
    background: #FDDCC4;  
    transition: all 0.2s linear;
}


/* From 1280 */
@media (max-width: 1279px) {
    /* base */
    .wrap {
        padding: 0px 30px;
      }
}
@media (max-width: 400px) {
    .wrap {
        padding: 0px 10px;
    }

}
/*///////////////////////////*/

/* header */
header {
    position: absolute;
    width: 100%;
    height: 60px;
    padding-top: 30px;
}
.block__navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
    text-decoration: none;
}
.logo__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    align-items: center;
}
.logo__postscript {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    color: #FFFFFF;
    align-items: center;
    letter-spacing: 0.1em;
    margin-left: 5px;
}
.block__navigation {
    display: flex;
    align-items:center;
}
.nav__list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: -17px;
}
.nav__item {
    list-style-type: none;
}

.nav__item a {
    text-decoration: none;
    color: #CDCDCD;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 15px;
    letter-spacing: 0.1em;
    padding-bottom: 3px;
}

.nav__item:nth-child(1) a{
    border-bottom: 3px solid #F1CDB3;
    margin-left: -15px;
    padding-bottom: 3px;
    
}

.nav__item:nth-child(1) a {
    color: #FAFAFA;
}

.nav__item:nth-child(2) a:hover,
.nav__item:nth-child(3) a:hover,
.nav__item:nth-child(4) a:hover {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    transition: 50ms;
}

.burger__icon {
    position: relative;
    display: none;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.burger__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #F1CDB3;
    transition: all 0.3s ease-in;
}
.burger__line::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: #F1CDB3;
}

.burger__line::after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F1CDB3;
    transition: all 0.3s ease-in;
}
.burger__acrive > .burger__line{
    transform: rotate(45deg);
}

.burger__acrive > .burger__line::after{
    top: calc(50% - 2px);
    transform: rotate(-90deg);
}

.burger__acrive > .burger__line::before{
    display: none;
}

@media (max-width: 765px) {
    .header__nav {
        display: none;
    }
    .burger__icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
@media (max-width: 400px) {
    .block__navigation {
        padding: 0 10px;
    }
    .burger__icon {
        margin-top: -12px;
    }

}
/*///////////////////////////*/

/* MAINE */
/* start content */
.not__only {
    width: 100%;
    padding-top: 180px;
    background: url(.///assets///img///noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    /*radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
   
    
}
.start__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.start__text {
    display: flex;
    flex-direction: column;
    
    width: 460px;
    height: 322px;
    margin-top: 160px;
    gap: 42px;
    
}
.start__text h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 130%;
    margin-top: 5px;

}
.start__text p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
}
.start__screen_puppy {
    max-width: 698px;
    max-height: 728px;
    align-self: flex-end;
    
}
.make__friend {
    width: 207px;
    height: 52px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
}

/* From 1280 */
@media (max-width: 1279px) {

    .start__text{
       margin-top: calc((160 / 1280) * 100%);
    }
    .start__screen_puppy {
        width: calc((698 / 1280) * 100%);
        height: auto;
        
    }
    
}

/* > 1280 */
@media (max-width: 900px) { 
    .not__only {
        padding-top: 145px;
    }
    .start__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .start__text{
        width: 100%;
        padding: 0px 124px 0px 124px; 
        margin: 0px 0px 105px 0px;  
    }
 
    .start__screen_puppy {
        width: 569px;
        height: 593px;
         
    }
 
    .make__friend {
        margin-left: 126px;
    }
}

@media (max-width: 765px) {
    .start__text {
        padding: 0px;
    }
    .start__screen_puppy {
        max-width: calc((569 / 765) * 100%);
        height: auto;
    }
}
@media (max-width: 400px) {
    .not__only {
        margin-bottom: 10px;
    }
    .start__text {
        padding: 0px;
        margin-bottom: 85px;
    }
    .start__text h2 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .start__text p {
        text-align: center;

        
    }
    .make__friend {
        margin-left: calc(50% - 207px/2);
    }

    .start__screen_puppy {
        max-width: 260px;
        max-height: 272px;
        
    }
}

/*///////////////////////////*/

/* about */
.about {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
.about__content {
    display: flex;
    justify-content: space-between;
    padding: 80px 175px 100px 175px;
}
.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 430px;
    max-height: 380px;
    margin-top: 15px;
}

.about__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.about__paragraph__first, 
.about__paragraph__second {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 160%;
    color: #4C4C4C;
}

/* From 1280 */
@media (max-width: 1279px) {
    .about__content {
        gap: 30px;
        padding-right: calc((175 / 1280) * 100%);
        padding-left: calc((175 / 1280) * 100%)
    }

    .about__cat__and__dog {
        width: calc((300 / 1280) * 150% );
        height: calc((408 / 1280) * 150%);
    }
}
/* > 1280 */
@media (max-width: 900px) {
    .about__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 65px 139px 100px 139px;
    }

    .about__text {
        margin-bottom: 50px;
        order: 1;
    }

    .about__cat__and__dog {
        width: 300px;
        height: 408px;
       order: 2;
    }

}

@media (max-width: 765px) {
    .about__content {
        justify-content: space-between;
        padding: 31px 15px 42px 15px;

        gap: 155px;
    }


    .about__cat__and__dog {
        max-width: 260px;
        max-height: 353.6px;
    }
    .about__text {
        width: 100%;
        height: 100%;
        gap: 0px;
        margin: 0px;
    }
    .about__title {
        font-size: 2.5rem;
        margin-bottom: 25px;
        text-align: center;
    }
    .about__paragraph__first {
        margin-bottom: 22px;
    }
    .about__paragraph__first, 
    .about__paragraph__second {
        text-align: justify;
    }
}
@media (max-width: 400px) {

    .about__cat__and__dog {
        width: 260px;
        height: 353.6px;
    }
}

@media (max-width: 765px) {

}
@media (max-width: 400px) {

}
/*///////////////////////////*/

/* pets */

.pets {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}
.pets__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.title__pets {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px;
}

.slider {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 270px); 
    grid-template-rows: repeat(1, 435px);/*minmax()*/
    width: 100%;
    gap: 90px;
    padding: 0px 105px;
    margin-bottom: 60px;
    
}
.pets_cards {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #FAFAFA;
    padding-bottom: 30px;
    gap: 30px;
}

.pets_cards:hover {
    transition: all 0.3s linear;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1); 
}

.name__puppe {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;

}

.btn__cards {
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #FAFAFA;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.button__arrow {
    position: absolute;
    top: 43.5%;
    width: 52px;
    height: 52px;
    background-color:  #F6F6F6;
    border: 2px solid #F1CDB3;
    border-radius: 50%;
}
.arrow--right {
    right: 0;  
} 
.arrow--transform {
    transform: rotate(180deg);
}  
.button__link {
    width: 261px;
    height: 52px;
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
/* From 1280 */
@media (max-width: 1279px) {

}
/* From 1280 */
@media (max-width: 1279px) {
    .pets__content {
        width: 100%;
    }
    .slider {
        gap: 40px;
        padding: 0px 64px;
        
    }
}

/* > 1280 */
@media (max-width: 1150px) {
    .slider {
        grid-template-columns: repeat(2, 270px); 
        grid-template-rows: repeat(1, 435px);/*minmax()*/
        gap: 40px;
    }
    .pets_cards:nth-child(3) {
        display: none;
    }
}

@media (max-width: 765px) {
    .slider {
        padding: 0px;
        margin-bottom: 112px;
    }
    .title__pets {
        font-size: 2.5rem;
        letter-spacing: 0.06em;
    }
    .button__arrow {
        top: calc(100% + 17px);
    }
    .arrow--right {
        right: calc(50% - 92px);
    }
    .arrow--left {
        left: calc(50% - 92px );
    }

}
@media (max-width: 650px) {
    .pets {
        padding: 42px 0px;
    }
    .title__pets {
        margin-bottom: 45px;
    }
    .slider {
        justify-content: center;
        grid-template-columns: 270px; 
        grid-template-rows: 435px;/*minmax()*/
    }
    .pets_cards:nth-child(2) {
        display: none;
    }
}

/*///////////////////////////*/

/* help */
.help {
    width: 100%;
}
.help__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 80px;

}

.titile__help {
    margin-bottom: 60px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.help__list {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
     
}
.hide__help__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;  
}
.low__help__list {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.help_item--dont_margin {
    margin-left: 0px;
}
.name__thing {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}
.img__thing {
    width: 60px;
    height: 60px;
}
/* > 1280 */
@media (max-width: 1100px) {
    .help__list {
        gap: 55px 60px; 
    }

}
@media (max-width: 900px) {
    .help__list {
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(3, 1fr);/*minmax()*/
        gap: 55px 65px;   
    }
}

@media (max-width: 500px) {
    .help__content {
        padding: 42px 0px;
    }
    .help__list {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(5, 1fr);/*minmax()*/
        gap: 30px;
        
    }
    .titile__help {
        font-size: 2.5rem;
        letter-spacing: 0.06em;
        margin-bottom: 42px;
    }
    .help__item {
        width: 130px;
        height: 87px;
        gap: 20px;
    }
    .name__thing {
        font-size: 1.5rem;
    }
    .img__thing {
        width: 40%;
        max-height: auto;
    }
}


/*///////////////////////////*/

/* donation */

.donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F6F6F6;
    padding-bottom: 100px;
    padding-top: 79px;
}

.donation__content {
    display: flex;

    width: 100%;
    gap: 30px;
}

.donation__content_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 380px;
    height: 282px;

}
.donation__dog {
    max-width: 505px;
    max-height: 261px
}

.titile__donation {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.subheading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.credit__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 349px;
    height: 43px;
    padding: 10px 15px;
    background-color: #F1CDB3;
    border-radius: 9px;
}

.credit__card:hover {
    background-color: #FDDCC4;
    transition: all 0.3s ease-in-out;
}

.credit__card a {
    text-decoration: none;
}

.number__credit {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.legal__information__card {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 18px;
    color: #B2B2B2;
}
/* from 1280*/
@media (max-width: 1279px) {
    .donation__dog {
        width: 60%;
        height: auto;
    }

}
/* > 1280*/
@media (max-width: 900px) {
    .donation__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 30px;
    }
    .donation__dog {
        width: 505px;
        height: 261px;
        order: 3;
    }
    .donation__content_card {
        margin-bottom: 30px;
    }

}

@media (max-width: 765px) {

    .donation__dog {
        max-width: calc((506 / 768) * 140%);
        height: auto;
        
    }

}
@media (max-width: 400px) {
    .donation {
        padding: 42px 10px;
    }
    .donation__content_card {
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: auto;
    }
    .credit__card {
        width: 100%;
    }
 
    .donation__content {
        gap: 42px;
    }
    .donation__content_card {
        margin-bottom: 0px;
    }
    .subheading {
        font-size: 1.4rem;
        line-height: 160%;
        letter-spacing: 0.03em;
    }
    .titile__donation {
    font-size: 2.5rem;
    text-align: center;
    }
    .legal__information__card {
        text-align: justify;
    }
    .number__credit {
        font-size: 1.5rem;
        line-height: 110%;
    }

}
/*///////////////////////////*/

/* footer */
footer {
    width: 100%;
    background: url(.///assets///img///noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
}

.footer__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between; 
    gap: 0 30px; 
}
.contacts {
    width: 302px;
    height: 234px;
}

.location {
    width: 302px;
    height: 234px;
    margin-left: -20px;
}
.contacts,
.location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-top: 55px;
    
}

.tittle__contacts, 
.tittle__location {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.email,
.phone,
.first__office,
.second__ofiice {
    display: flex;
    align-items: center;
    gap: 20px;
}

.general__style__footer_span {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.puppy__footer {
    margin-top: 25px;
}

.footer__content a {
    text-decoration: none;
}
.footer__content span:hover {
    color: #ececeb;
    transition: all 0.3s linear;
}

.location img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}
.contacts img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}
/* > 1280*/
@media (max-width: 1000px) {
    .puppy__footer {
        margin: 0px;
        margin-left: calc(50% - 300px/2);
    }

    .footer__content {
        padding: 30px 34px 0px 34px;
    }

    .contacts,
    .location {
        margin: 0px 0px 65px 0px;   
    }   
}
@media (max-width: 765px) {
    .footer__content {
        align-items: center;
        justify-content: center;
    }
    .puppy__footer {
        margin: 0px;
        
    }

}
@media (max-width: 400px) {
    .footer__content {
        padding: 30px 0px 0px 0px;
    }
    .tittle__contacts, 
    .tittle__location {
        font-size: 2.5rem;
        text-align: center;
    }
    .tittle__location {
        padding: 0px 10px;
    }
    .contacts {
        padding: 0px 10px;
    }
    .contacts,
    .location {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 37px;
    }
    .email,
    .phone {
        text-align: center;
    }
    .phone {
        margin-top: -5px;
    }

    .second__ofiice {
        margin-left: -30px;
    }
    .puppy__footer {
        max-width: 260px;
        max-height: 269px
    }
   

}
/*///////////////////////////*/


/*@@@@@@@@@@@@@@@ ADAPTIVE BLOCK @@@@@@@@@@@@@@@*/



