/* base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-size: 1.6rem;
  color: #fff;
  overflow-x: hidden;
}
.wrap {
  position: relative;
  height: 100%;
  max-width: 1280px;
  padding: 0px 40px;
  margin: 0 auto;
}
main {
  position: relative;
  width: 100%;
}
.curso--pointer {
  cursor: pointer;
  transition: all 0.2s linear;
}
.button:hover {
  background: #fddcc4;
}

.logo {
  text-decoration: none;
}

@media (max-width: 1279px) {
  /* base */
  .wrap {
    padding: 0px 30px;
  }
}
@media (max-width: 400px) {
  .wrap {
    padding: 0px 10px;
  }
}
/*///////////////////////////*/

/* header */
header {
  position: relative;
  width: 100%;
  height: 120px;
  padding-top: 30px;
}
.block__navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
  align-items: center;
}
.logo__postscript {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 15px;
  color: #292929;
  align-items: center;
  letter-spacing: 0.1em;
  margin-top: -10px;
}
.logo a {
  text-decoration: none;
}

.nav__list {
  display: flex;
  gap: 35px;
  margin-top: -15px;
}
.nav__item {
  list-style-type: none;
}

.nav__item a {
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  padding-bottom: 3px;
}
.nav__item:nth-child(2) a {
  border-bottom: 3px solid #f1cdb3;
  color: #292929;
  padding-bottom: 3px;
}

.nav__item:nth-child(1) a:hover,
.nav__item:nth-child(3) a:hover,
.nav__item:nth-child(4) a:hover {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
  transition: 60ms;
}

.burger__icon {
  position: relative;
  display: none;
  width: 30px;
  height: 22px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  z-index: 4;
}

.burger__line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
}
.burger__line::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
}

.burger__line::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #f1cdb3;
}
.burger--active {
  transform: rotate(90deg);
  transition: all 0.4s ease-in;
}

.burger__blackout {
  display: none;
  transition: all 0.4s ease-in;
}
.body__block {
  overflow: hidden;
  height: 100vh;
}
.burger__blackout--active {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 2;
  transition: all 0.4s ease-in;
}
@media (max-width: 767px) {
  .header__nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100vh;
    right: 0;
    top: 0px;
    background: #fafafa;
    z-index: 3;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .burger__menu--active {
    transform: translateX(0%);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burger__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav__list {
    margin: 0;
    padding: 0;
    gap: 40px;
  }
  .nav__item:nth-child(1) a {
    margin: 0;
    padding: 0;
  }
  .nav__item a {
    font-size: 3.2rem;
  }
}
@media (max-width: 400px) {
  .block__navigation {
    padding: 0 10px;
  }
  .burger__icon {
    margin-top: -12px;
  }
  .burger__menu--active {
    right: -3.2%;
    transition: all 0.4s ease-in;
  }
}
/*///////////////////////////*/

/* pets */
.pets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 100px;
}
.pets__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__pets {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 60px;
}

.pagination__cards {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 270px);
  grid-template-rows: repeat(2, 435px); /*minmax()*/
  column-gap: 40px;
  row-gap: 30px;
  padding-left: 105px;
  padding-right: 105px;
  margin-bottom: 60px;
  width: 100%;
}

.pets_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  padding-bottom: 30px;
  gap: 30px;
}
.pets_cards:hover {
  transition: all 0.3s linear;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
}
.name__puppe {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.btn__cards {
  width: 187px;
  height: 52px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pagination__btn {
  display: flex;
  gap: 20px;
}
.btn__sup {
  width: 52px;
  height: 52px;
  background-color: #f6f6f6;
  border-radius: 50%;
}

.sup_left {
  border: 2px solid #cdcdcd;
}
.sup_right {
  border: 2px solid #cdcdcd;
}
.btn--active {
  border: 2px solid #f1cdb3;
}

.btn--active > .icon--left {
  transform: rotate(-180deg);
}
.icon--right {
  transform: rotate(180deg);
}
.btn--active > .icon--right {
  transform: rotate(0);
}

.btn--active:hover {
  background: #fddcc4;
}

.sup_centr {
  background: #f1cdb3;
  border: none;
}

.position__fixes {
  position: fixed;
}
.block_pop_up {
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 952px;
  height: 552px;
  z-index: 4;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  color: #000000;
  transition: all 0.4s ease-in;
}
.pop_up {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 500px;
  padding-right: 20px;
  background-color: #fafafa;
}

.pop__up__blackout {
  display: none;
  transition: all 0.4s ease-in;
}

.blackout--active {
  position: absolute;
  display: block;
  width: 1000vw;
  height: 1000vh;
  background: rgba(41, 41, 41, 0.6);
  z-index: 3;
  transition: all 0.4s ease-in;
}

.icon__closed__pop_up {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0px;
  top: 0px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}
.icon__closed__pop_up:hover {
  background-color: #fddcc4;
}
.stick {
  display: inline-block;
  width: 15px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}
.stick::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
  transform: rotate(90deg);
}
.block__info__pop__up {
  width: 351px;
  height: 362px;
  padding-top: 50px;
}
.img__pop__up {
  width: 500px;
  height: 500px;
}
.name__pop__up {
  display: block;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}
.breed__pop__up {
  display: block;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.info__pop__up {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}
.brief__info__list {
  margin-left: 17px;
}
.brief__info__list li::marker {
  color: #f1cdb3;
}
.brief__info__list li {
  padding-top: 11px;
}
.strong .info__span {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
.pop__Up--active {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: fixed;

  transition: all 0.4s ease-in;
}
.position__fixes {
  overflow: hidden;
  position: fixed;
}

@media (max-width: 1279px) {
  .pagination__cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    padding: 0;
    margin-bottom: 60px;
  }
  .title__pets {
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .block_pop_up {
    width: 682px;
    height: 402px;
  }
  .pop_up {
    width: 630px;
    height: 350px;
    padding-right: 0px;
  }
  .img__pop__up {
    width: 350px;
    height: 350px;
  }
  .breed__pop__up {
    margin-bottom: 20px;
  }
  .info__pop__up {
    margin-bottom: 20px;
  }
  .block__info__pop__up {
    padding: 10px;
  }
  .brief__info__list li {
    padding-top: 6px;
  }
}
/* > 1280 */
@media (max-width: 900px) {
  .pets {
    padding: 80px 0px 75px 0px;
  }
  .pagination__cards {
    margin-bottom: 40px;
  }

  .pets_cards:nth-child(7) {
    display: none;
  }
  .pets_cards:nth-child(8) {
    display: none;
  }
}
@media (max-width: 740px) {
  .block_pop_up {
    width: 270px;
    height: 393px;
  }
  .pop_up {
    width: 240px;
    height: 341px;
    padding-right: 0px;
    align-items: center;
  }
  .name__pop__up {
    text-align: center;
  }
  .img__pop__up {
    display: none;
  }
  .breed__pop__up {
    margin-bottom: 10px;
    text-align: center;
  }
  .info__pop__up {
    margin-bottom: 10px;
  }
  .block__info__pop__up {
    padding: 10px;
  }
  .brief__info__list li {
    padding-top: 6px;
  }
}

@media (max-width: 765px) {
  .title__pets {
    font-size: 2.5rem;
    align-items: center;
    margin-bottom: 40px;
  }
  .pagination__btn {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 400px) {
  .pets {
    padding: 42px 0px 45px 0px;
  }
  .pets_cards:nth-child(4) {
    display: none;
  }
  .pets_cards:nth-child(5) {
    display: none;
  }
  .pets_cards:nth-child(6) {
    display: none;
  }
}

/*///////////////////////////*/

/* footer */
footer {
  width: 100%;
  background: url(.///assets///img///noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.footer__content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}
.contacts {
  width: 302px;
  height: 234px;
}

.location {
  width: 302px;
  height: 234px;
  margin-left: -20px;
}
.contacts,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
  margin-top: 55px;
}

.tittle__contacts,
.tittle__location {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.email,
.phone,
.first__office,
.second__ofiice {
  display: flex;
  align-items: center;
  gap: 20px;
}

.general__style__footer_span {
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.puppy__footer {
  margin-top: 25px;
}
.footer__content a {
  text-decoration: none;
}
.footer__content span:hover {
  color: #ececeb;
  transition: all 0.2s ease-in-out;
}

.location img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.contacts img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

/* > 1280*/
@media (max-width: 1000px) {
  .puppy__footer {
    margin: 0px;
    margin-left: calc(50% - 300px / 2);
  }

  .footer__content {
    padding: 30px 34px 0px 34px;
  }

  .contacts,
  .location {
    margin: 0px 0px 65px 0px;
  }
}
@media (max-width: 765px) {
  .footer__content {
    align-items: center;
    justify-content: center;
  }
  .puppy__footer {
    margin: 0px;
  }
}
@media (max-width: 400px) {
  .footer__content {
    padding: 30px 0px 0px 0px;
  }
  .tittle__contacts,
  .tittle__location {
    font-size: 2.5rem;
    text-align: center;
  }
  .tittle__location {
    padding: 0px 10px;
  }
  .contacts {
    padding: 0px 10px;
  }
  .contacts,
  .location {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 37px;
  }
  .email,
  .phone {
    text-align: center;
  }
  .phone {
    margin-top: -5px;
  }

  .second__ofiice {
    margin-left: -30px;
  }
  .puppy__footer {
    max-width: 260px;
    max-height: 269px;
  }
}

/*///////////////////////////*/
